appdirs==1.4.3
beautifulsoup4==4.6.3
certifi==2018.8.24
chardet==3.0.4
decorator==4.3.0
future==0.16.0
gmusicapi==11.0.1
gpsoauth==0.4.1
httplib2==0.18.0
idna==2.7
lxml==4.2.4
MechanicalSoup==0.10.0
mock==2.0.0
mutagen==1.41.1
oauth2client==4.1.2
pbr==4.2.0
proboscis==1.2.6.0
protobuf==3.6.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycryptodomex==3.6.6
python-dateutil==2.7.3
requests==2.19.1
rsa==3.4.2
six==1.11.0
urllib3==1.24.2
validictory==1.1.2
websocket-server==0.4
